<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap" rel="stylesheet">

<div class="container1">
    <div class="container1-line">
        <div class="logo"><img src="../../../assets/signIn/slack_logo.svg" alt=""></div>
        <div class="top-right">
            <div class="new-slack">New to Slack?</div>
            <div class="create-slack">Create an account</div>
        </div>
    </div>
</div>

<div class="container2">
    <div class="container2-block">
        <div class="big-signIn-message">Sign in to Slack</div>
        <div class="info">We suggest using the <span class="info-bold">email address you use at work.</span></div>
        <div class="google-button"><button><img src="../../../assets/signIn/Google__G__Logo.svg.webp" alt="Google">Sign In With Google</button></div>
        <div class="apple-button"><button><img src="../../../assets/signIn/apple-logo.png" alt="">Sign In With Apple</button></div>
        <div class="hr-OR">
            <hr style="width: 170px; height: 0;text-align: center;" class="ht-OR-Rule">
            <span class="hr-center-OR">OR</span>
            <hr style="width: 170px;" class="ht-OR-Rule">
        </div>
        <div class="input-email"><input type="text" placeholder="name@work-email.com"></div>
        <div class="signin-button"><button>Sign In With Email</button></div>
        <div class="end-info">We’ll email you a magic code for a password-free <br>sign in. Or you can       <a href="">   sign in
                manually instead.</a></div>

    </div>
</div>


<div class="footer-end">
    <div class="footer-container">
        <a href="#">Privacy & Terms</a>
        <a href="#">Contact Us</a>
        <a href="#">Change region</a>
    </div>
</div>