
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

/* Header */

.container1{
width: 100%;
height: 118px;
padding: 48px 0 40px;
display: flex;
align-items: center;
}

.container1-line{
    position: relative;
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;

}
.logo{
    font-size: 25px;
    font-weight: 1000;
}
.logo:hover{
    cursor: pointer;
}

.logo img{
    width: 102.5px;
}
.top-right{
    font-size: 13px;
    font-weight: 600;
    padding: 0px 40px 0 0;
    position: absolute;
    right: 0;
}
.new-slack{
    text-align: right;
    padding-bottom: 3px;
    opacity: 0.5;
}
.create-slack{
    color: #0b4c8c;
    opacity: 0.9;
}
.create-slack:hover{
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

/* Center */


.container2{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}
.container2-block{
    width:800px;
    height: 523px;
    display: flex;
    flex-direction: column;
    align-items:center ;
}



.big-signIn-message{
    font-weight: 800;
    font-size: 45px;
}

.hr-OR{
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 35px 0 20px;
    color: #282866;
    opacity: 0.7;
    font-size: 14px;
}
.hr-center-OR{
    padding: 0 20px;
}
.ht-OR-Rule{
    border: none;
    border-top: 1px solid #ddd
}


.info{
    height: 27px;
    font-size: 19px;
    font-weight: 500;
    padding: 10px 0 30px;
}
.info-bold{
    font-weight: 600;
}

.google-button button, .apple-button button, .input-email input, .signin-button button{
    position: relative;
width: 397px;
height: 45px;
font-size: 17.5px;
font-weight: 600;
border-radius: 3px;
border-color: #bbbabb;
border-style: solid;
margin-top: 20px;
padding-left: 8px;


}
.google-button button, .apple-button button{
    cursor: pointer;
}
.google-button img, .apple-button img{
    width: 24px;
    padding-right: 5px;
    position: absolute;
    top: 11px;
    left: 92px;
}
.input-email input{
    border: 1px solid rgba(red, green, blue, alpha);
    transition: all 0.1s;
}
.input-email input::placeholder{
    opacity: 1;
    font-weight: 500;
}
.input-email input:focus{
    border: 0 solid rgba(red, green, blue, alpha);
    box-shadow: 0 0 3px 3px rgb(118, 203, 232)  ;

}

.signin-button button{
    padding-top: 3px;
    height: 43px;
    background-color:#4a154b ;
    color: #fff;
    border: none;
    cursor: pointer;
}

.signin-button button:hover{
    background-color:#5a195b ;
}

.end-info{
    width: 400px;
    height: 68px;
    padding: 15px 2px 2px 30px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f3f3f3;
    color:#6f6e66;
    font-size: 16px;
    font-weight: 500;
}
.end-info a{
background-color:  #f3f3f3;
font-weight: 600;
color:#1264b5;
text-decoration: none;
}

/* FOOTER */

.footer-end{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 68px;

}

.footer-container{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.footer-container a{
    text-decoration: none;
    color:#585751 ;
    font-weight: 500;
}

.footer-container a:hover{
    color:#1264b5;
    text-decoration: underline;
}